* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
}
.clock {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/pngwing.com\ \(4\).png);
  background-size: cover;
  border-radius: 50%;
  background-color: rgb(179, 140, 3);
  box-shadow: inset 10px 10px 55px  #111001;
  inset -10px -10px 15px #202020;
}

.clock::before{
    content:'' ;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #272727;
    
}
